@font-face {
    font-family: nunito;
    font-style: normal;
    font-weight: 400;
    src: local('Nunito'), url(../nunito-woff/Nunito-Regular.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: italic;
    font-weight: 400;
    src: local('Nunito'), url(../nunito-woff/Nunito-Italic.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: normal;
    font-weight: 275;
    src: local('Nunito'), url(../nunito-woff/Nunito-ExtraLight.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: italic;
    font-weight: 275;
    src: local('Nunito'), url(../nunito-woff/Nunito-ExtraLightItalic.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: normal;
    font-weight: 300;
    src: local('Nunito'), url(../nunito-woff/Nunito-Light.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: italic;
    font-weight: 300;
    src: local('Nunito'), url(../nunito-woff/Nunito-LightItalic.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: normal;
    font-weight: 600;
    src: local('Nunito'), url(../nunito-woff/Nunito-SemiBold.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: italic;
    font-weight: 600;
    src: local('Nunito'), url(../nunito-woff/Nunito-SemiBoldItalic.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: normal;
    font-weight: 700;
    src: local('Nunito'), url(../nunito-woff/Nunito-Bold.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: italic;
    font-weight: 700;
    src: local('Nunito'), url(../nunito-woff/Nunito-BoldItalic.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: normal;
    font-weight: 800;
    src: local('Nunito'), url(../nunito-woff/Nunito-ExtraBold.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: italic;
    font-weight: 800;
    src: local('Nunito'), url(../nunito-woff/Nunito-1.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: normal;
    font-weight: 900;
    src: local('Nunito'), url(../nunito-woff/Nunito-2.woff) format('woff')
}

@font-face {
    font-family: nunito;
    font-style: italic;
    font-weight: 900;
    src: local('Nunito'), url(../nunito-woff/Nunito-BlackItalic.woff) format('woff')
}